{% extends "admin/templates/admin_base_public.html" %}

{% block title%}Admin_Dashboard{%endblock%}

{% block main%}
<body>
    <h1 style = 'color: purple'>Hello Everyone</h1>
    <p><h1 style = 'color: blue'>Compliments of the Season</h1></p>
    <link rel = "stylesheet" href= "{{url_for('static', filename = 'css/style.css')}}">
    <img  src = "{{url_for('static', filename = 'img/Christmas.jpg')}}" width="200" height="150"></script>
    <script src = "{{url_for('static', filename = 'js/app.js') }}"></script>
  </body>
  </html>
  
{%endblock%}